json-view .package {
  padding: 3px;
  border-radius: 2px;
  margin-top: 3px;
}
json-view .header {
  cursor: pointer;
  border-bottom: 1px dashed #e0e0e0;
}
json-view .header .name {
  font-weight: 700;
}

json-view .name {
  color: gray;
}

json-view .array {
  background-color: #efefef;
  border: thin solid #d6cac0;
}
json-view .object {
  background-color: #ffffff;
  border: thin solid #868686;
}
json-view .string {
  color: red;
}
json-view .number {
  color: blue;
}
json-view .function {
  color: green;
}
json-view .children {
  font-size: 12px;
}
json-view .open .children {
  display: block;
}
json-view .closed .children {
  display: none;
}

.arrow {
  background-image: url("../img/d.png");
  background-repeat: no-repeat;
  background-color: transparent;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.open .arrow {
  background-position: -20px 0;
}
.closed .arrow {
  background-position: 0 0;
}

json-view .type {
  color: gray;
  font-size: 8pt;
  float: right;
}

.hide {
  display: none;
}

#main {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}
